<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="http://127.0.0.1:3001/contact" method="POST">
        cellphone: <input type="text" name="cellphone"><br><br>
        email: <input type="text" name="email"><br><br>
        facebook: <input type="text" name="facebook"><br><br>
        linkedin: <input type="text" name="linkedin"><br><br>
        twitter: <input type="text" name="twitter"><br><br>
        tiktok: <input type="text" name="tiktok"><br><br>
        <input type="submit" value="submit">
    </form>
</body>
</html>