<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  
</head>
<body>
    <form action="http://127.0.0.1:3001/user" method="POST" >
        <label for="username">User Name</label>&nbsp;&nbsp;
        <input class="user" type="text" name="username"><br><br>
        <label for="accesscode">Password</label>&nbsp;&nbsp;
        <input class="user"  type="text" name="accesscode"><br><br>
        <label for="activity">Status</label>&nbsp;&nbsp;
        <input class="user"  type="text" name="activity"><br><br>
        <label for="avatar">Avatar</label>&nbsp;&nbsp;
        <input class="user"  type="text" name="avatar"><br><br>
        <label for="actrole">Role</label>&nbsp;&nbsp;
        <input class="user"  type="text" name="actrole"><br><br>
        <input type="submit" value="submit">
    </form>
    
</body>
</html>